
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Kullanıcı Ekleme Sayfası</h4>
<br />
<form class="form-group" method="post">

    <input type="text" name="Username" class="form-control" placeholder="Kullanıcı Adı" />
    <br />
    <input type="text" name="Password" class="form-control" placeholder="Şifreniz" />
    <br />
   
    <button class="btn btn-outline-info">Kaydet</button>
</form>

