
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Project Add</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/ColorlibHQ-AdminLTE-bd4d9c7/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/ColorlibHQ-AdminLTE-bd4d9c7/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/Default/Index/" class="brand-link">
                <img src="/ColorlibHQ-AdminLTE-bd4d9c7/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Siteye Git</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->

                <!-- SidebarSearch Form -->
                

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="/Hakkimda/Index" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Hakkımda

                                </p>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="/Egitim/Index/" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Eğitimlerim

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Deneyim/Index" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Deneyimlerim

                                </p>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="/Projelerim/Index/" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Projelerim

                                </p>
                            </a>

                        </li>




                        <li class="nav-item">
                            <a href="/Yetenek/Index/" class="nav-link">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>
                                    Yeteneklerim

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Sertifika/Index/" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>
                                    Sertifikalarım
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/SocialMedia/Index/" class="nav-link">
                                <i class="nav-icon fa fa-music"></i>
                                <p>
                                    Sosyal Medya
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Index/" class="nav-link">
                                <i class="nav-icon fa fa-pen"></i>
                                <p>
                                    Ayarlar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Login/LogOut/" class="nav-link">
                                <i class="nav-icon fa fa-fingerprint"></i>
                                <p>
                                    Çıkış
                                </p>
                            </a>
                        </li>




                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()

                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/ColorlibHQ-AdminLTE-bd4d9c7/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/ColorlibHQ-AdminLTE-bd4d9c7/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/ColorlibHQ-AdminLTE-bd4d9c7/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/ColorlibHQ-AdminLTE-bd4d9c7/dist/js/demo.js"></script>
</body>

</html>
